blockquote {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}

#accordion {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 5px;
    overflow: auto;
}

#accordion > a:hover {
    color: #17a2b8!important;
}

.menu {
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: #212529;
    font-weight: 500;
}

.menu.collapsed {
    color: #343a40;
    font-weight: normal;
}

.sub-menu {
    list-style: none;
    padding-left: 10px;
    font-size: 14px;
    margin: 10px 0px;
}

.sub-menu>li>a {
    border-left: 2px solid #E0E0E0;
}

.sub-menu>li>a:hover {
    color: #17a2b8!important;
    border-left: solid #17a2b8;
}

.arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1.5px solid #343a40;
    border-right: 1.5px solid #343a40;
    transform: translate(0, 1px) rotate(135deg);
    margin: 5px 8px;
}

.collapsed .arrow {
    transform: translate(0px, 3px) rotate(45deg);
    margin: 5px 8px;
}

.nav-page {
    display: table;
    list-style: none;
    width: 100%;
    margin: 20px 0px;
    padding: 20px 5px;
 }

.nav-page-item {
    display: table-cell;
}

.nav-page-item:last-child {
    text-align: right;
}

.nav-page-link {
    text-decoration: none;
    border: none;
    color: #595959;
}

.nav-page-link:hover {
    color: #17a2b8!important;
    border-color: #17a2b8!important;
}

.chevron {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.chevron.right {
    transform: rotate(-45deg) translate(1px, -1px);
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
}

.chevron.left {
    transform: rotate(135deg) translate(-1px, 1px);
    -webkit-transform: rotate(135deg) translate(-1px, 1px);
}

.terminal {
    color: rgb(179, 186, 200);
    background-color: #282c34;
    padding: 0 10px;
}

.highlight-light {
    background-color: #fbfbfd;
    padding: 0 5px;
}

.keyword {
    color: #f44336;
    color: #c30;
    color: #e91e63;
    color: #8959a8;
    color: #9c27b0;
}

.type {
    color: #9c27b0;
    color: #008085;
    color: #006ee0;
    color: #2f6f9f;
    color: #007d9a;
    color: #4271ae;
    color: #0065b3;
}

.function {
    color: #9e9d24;
    color: #ffab00;
    color: #009688;
    color: #00acc1;
    color: #558b2f;
    color: #2f6f9f;
    color: #f57f17;
    color: #9c27b0;
    color: #f5871f;
    color: #718c00;
}

.variable {
    color: #006ee0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    background-color: #f6f6f6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* media
-------------------------------------------------- */
@media (max-width: 768px) {
    #accordion {
        height: auto;
    }
}

@media print
{    
    .no-print {
        display: none !important;
    }
}