<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Action Filters</h1>
            <hr>
            <p>
               Action Filters are similar to Middlewares, they allow code to be run before or after specific stages in the request processing pipeline and can choose to short-circuit the pipeline or pass the request to the next filter or the endpoint action, but the difference is that the action filters are invoked after the dispatcher selects the action to execute, just before and after the execution of the action.
            </p>
            <p>
               The following code example represents an action filter class called <code>AuthenticationFilter</code> that prevents accessing the requested resources if the user is not authenticated.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Filters;

use DevNet\System\MethodTrait;
use DevNet\Web\Endpoint\ActionContext;
use DevNet\Web\Endpoint\ActionDelegate;
use DevNet\Web\Endpoint\IActionFilter;
use Attribute;

use function Devnet\System\await;

#[Attribute]
class AuthenticationFilter implements IActionFilter
&lcub;
   use MethodTrait;

   public function async_invoke(ActionContext $context, ActionDelegate $next): void
   &lcub;
      // Short-circuiting the pipeline if does not fulfil the condition.
      if (!$context->HttpContext->User) &lcub;
         $context->HttpContext->Response->setStatusCode(401);
         return;
      }
      // Await next action delegate to chain the pipeline to the next filter before executing the action.
      await($next($context));
      // Logging or other works can be done here after executing the action.
   }
}
</code></pre>
            <br>
            <h3>Registering action filters</h3>
            <p>
               The code example below shows how to add action filters to the route endpoint handler as class or as an anonymous async function, with the help of the method <code>RouteHandler::addFilter(callable|string $filter, ...$args)</code>
            </p>
            <pre><code class="language-php">&lt;?php

use DevNet\Web\Extensions\ApplicationBuilderExtensions;
use DevNet\Web\Extensions\ServiceCollectionExtensions;
use DevNet\Web\Hosting\WebHost;
use Application\Filters\AuthenticationFilter;

use function Devnet\System\async;
use function Devnet\System\await;
...

$host->start(function ($app) &lcub;
   // Middlewares
   $app->UseExceptionHandler();
   $app->useRouter();
   $app->useEndpoint(function ($routes) &lcub;
      $routes->mapGet("/users", function ($httpContext) &lcub;
         // Code...
      })
      // Adding action filter class.
      ->addFilter(AuthenticationFilter::class)

      // Adding in-line action filter as anonymous async function.
      ->addFilter(async(function ($actionContext, $next)) &lcub;
         // Some works can be done here before executing the action.
         await($next);
         // Other works can be done here after executing the action.
      }));

      // Other routes.
   });
});</code></pre>
<p>
   You can apply the action filter to a controller using the attribute syntax and decorate the controller class or the action method with the filter name, as shown in the following code example.
</p>
<pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\Web\Endpoint\Controller;
use DevNet\Web\Endpoint\IActionResult;
use DevNet\Web\Endpoint\Route;
use DevNet\Web\Security\Tokens\Csrf\Validate;
use Application\Filters\AuthenticationFilter;
use Application\Models\Profile;

// This filter will be applied to all controller's methods.
#[AuthenticationFilter]
class AccountController extends Controller
&lcub;
   #[Route(path: '/account', method: 'GET')]
   public function index(): IActionResult
   &lcub;
      return $this->view();
   }

   // This filter will be applied only to this action method.
   #[Validate]
   #[Route(path: '/user/create', method: 'POST')]
   public function create(Profile $form): IActionResult
   &lcub;
      // Code...
   }
}
</code></pre>
            <br>
            <h3>Built-in filters</h3>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Filter</th>
                     <th scope="col">Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><code>DevNet\Web\Security\Authorization\Authorize</code></td>
                     <td>Prevent a non-authorized user from accessing the resources.</td>
                  </tr>
                  <tr>
                     <td><code>DevNet\Web\Security\Tokens\Csrf\Validate</code></td>
                     <td>Prevent Cross-Site Request Forgery</td>
                  </tr>
               </tbody>
            </table>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/layout">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/exception">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>