<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Overview</h1>
            <hr>
            <p>
               DevNet System is a low-level library that provides the fundamental functionalities of the DevNet framework, which can be represented in the following features:
            </p>
            <ul>
               <li>Accessor Properties</li>
               <li>Extension Methods</li>
               <li>LINQ Methods</li>
               <li>Generic Types</li>
               <li>Asynchronous Operations</li>
               <li>Delegates & Events</li>
               <li>Database Access</li>
               <li>And more...</li>
            </ul>
            <br>
            <h3>Installation</h3>
            <p>
               If you have installed any of the DevNet packages, then you already have the DevNet System. However, you can still install DevNet System as a third-party library to work with any PHP project by running the following composer command-line:
            </p>
            <pre><code class="language-shell">composer require devnet/system</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/console/command">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/core/properties">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>