<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Overview</h1>
            <hr>
            <p>
               DevNet framework is free open-source software, and cross-platform, built-in PHP with high-performance,
               for rapid application development, to build console applications, web applications, web APIs and
               microservices.
            </p>
            <h3>Architecture</h3>
            <p>
               The DevNet framework has a layered architecture, which can be represented by the following diagram, that shows
               the major components of the DevNet Framework in each layer.
            </p>
            <div>
               <img src="assets/images/framework.svg" alt="Web app home page" width="60%" height="auto">
            </div>
            <p>
               The lowest layer of the system provides the fundamental functionality that all components rely on, while the subsequent layers contain more sophisticated services that build on the layer below.
            </p>
            <p>
               Here a brief summary of the DevNet components:
            </p>
            <ul>
               <li>
                  <b>Application:</b> a software that carry out specific tasks and operations, which the end-users interact with.
               </li>
               <li>
                  <b>CLI Tools:</b> a command-line interface tools, for creating console applications and managing DevNet projects.
               </li>
               <li>
                  <b>Web library:</b> a collection of web library and components, that helps to create web applications and web APIs.
               </li>
               <li>
                  <b>Entity ORM:</b> an object-relational mapping system, that helps to manipulate databases in an object-oriented way.
               </li>
               <li>
                  <b>Core library:</b> a runtime library that provides the fundamental utility and functionality to all DevNet components.
               </li>
            </ul>
            <blockquote class="alert alert-info">
               <b>Note:</b> These components will be discussed in detail in the upcoming chapters.
            </blockquote>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/setup/installation">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>