<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Overview</h1>
            <hr>
            <p>
               DevNet Framework is a free open-source PHP library and toolset for rapid application development with high performance to build console applications, web applications, web APIs, and microservices.
            </p>
            <h3>Architecture</h3>
            <p>
               The DevNet framework has a layered architecture, which can be represented by the following diagram, that shows
               the major components of the DevNet Framework in each layer.
            </p>
            <div>
               <img src="assets/images/framework.svg" alt="Web app home page" width="60%" height="auto">
            </div>
            <p>
               The top layer is the application that performs specific tasks and operations that end users interact with, which is built on top of subsequent layers that contain more sophisticated services that are also built on layers below, down to the lowest layer of the system that provides the basic functionality that all components rely on.
            </p>
            <blockquote class="alert alert-info">
               <b>Note:</b> Each of these components will be discussed in more detail in the upcoming chapters.
            </blockquote>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/setup/installation">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>