<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Installation</h1>
            <hr>
            <p>
               DevNet Framework has some software requirements in order to work, so make sure your system meets the software requirements before getting to the installation.
            </p>
            <h3>Software Requirements</h3>
            <ul>
               <li><a href="https://www.php.net/" rel="nofollow">PHP</a> version 8.1 or higher</li>
               <li><a href="https://getcomposer.org/" rel="nofollow">Composer</a> version 2.0 or higher</li>
               <li>You may need to install or activate <code>PDO PHP Extensions</code></li>
            </ul>
            <blockquote class="alert alert-warning">
               <b>Important:</b> when you install composer in Linux operating system, please do not forget to add <code>composer/vendor/bin</code> into the system environment variables inside the file <code>.bashrc</code> like this:<br>
               <code>export PATH="$PATH:$HOME/.config/composer/vendor/bin"</code>
            </blockquote>
            <br>
            <h3>Installing DevNet Framework</h3>
            <p>
               It is recommended to Install the DevNet Framework globally in your system, just one framework runs multiple projects unless your projects use different versions of the DevNet framework, which may cause conflict because the composer doesn't support multi-versioning, in this case, you can solve this problem using docker container or installing the compatible version of DevNet framework locally inside its proper project.
            </p>
            <p>
               To install the DevNet framework globally using composer run the following command line in the terminal:
            </p>
            <pre><code class="language-shell">composer global require devnet/framework</code></pre>
            <p>
               Or local installation inside your project by running the following command line in the terminal:
            </p>
            <pre><code class="language-shell">composer require devnet/framework</code></pre>
            <br>
            <h4>DevNet Installer</h4>
            <p>
               You can use the DevNet Installer to install the DevNet framework with more options, but you need first to add it to the composer as a plugin by running the following command line in your terminal:
            </p>
            <pre><code class="language-shell">composer global require devnet/installer</code></pre>
            <p>
               When the composer asks if you trust the "devnet/installer", please select <samp>[yes]</samp> to enable it.
            </p>
            <p>
               Now, you can run the following command-line to complete the installation of the DevNet framework:
            </p>
            <pre><code class="language-shell">composer global install:devnet</code></pre>
            <p>
               Then, DevNet Installer will ask you to select the type of installation mode:
            </p>
            <pre><code class="language-shell">DevNet-Framework Installer v1.0.0
Please select the type of installation mode:
   [1] Full installation (DevNet CLI, Core Library, Web Library and Entity ORM)
   [2] Custom installation (Install selected DevNet package)
   [3] Exit the installation
></code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/setup/overview">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/setup/deployment">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>