<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Deployment</h1>
            <hr>
            <p>
               DevNet web project comes with two default server configurations, Apache and IIS, to quickly deploy your web application, but you can add other server configurations, like the configuration of Nginx server, which is demonstrated in the last example of this section.
            </p>
            <h3>Apache configuration</h3>
            <p>
               For quick deployment on Apache server, your web project contains already <code>.htaccess</code> file in the public directory <code>./webroot/</code> with the following configuration:
            </p>
            <pre><code class="language-apache">RewriteEngine On
RewriteCond %&lcub;REQUEST_FILENAME&#125; !-f
RewriteCond %&lcub;REQUEST_FILENAME&#125; !-d
RewriteRule ^ index.php [QSA,L]</code></pre>
            <br>
            <h3>IIS configuration</h3>
            <p>
               For IIS server deployment, your web project contains also the file <code>./webroot/Web.config</code> with the following configuration:
            </p>
            <pre><code class="language-xml">&lt;?xml version="1.0" encoding="UTF-8"?>
&lt;configuration>
   &lt;system.webServer>
      &lt;rewrite>
         &lt;rules>
            &lt;rule name="slim" patternSyntax="Wildcard">
            &lt;match url="*" />
            &lt;conditions>
               &lt;add input="&lcub;REQUEST_FILENAME&#125;" matchType="IsFile" negate="true" />
               &lt;add input="&lcub;REQUEST_FILENAME&#125;" matchType="IsDirectory" negate="true" />
            &lt;/conditions>
            &lt;action type="Rewrite" url="index.php" />
            &lt;/rule>
         &lt;/rules>
      &lt;/rewrite>
   &lt;/system.webServer>
&lt;/configuration></code></pre>
            <br>
            <h3>Nginx configuration</h3>
            <p>
               Assuming you have a PHP-FPM server installed in your system and running on <code>127.0.0.1:9000</code>, and you want to deploy your web application on the Nginx server, so you can configure the file <code>nginx.conf</code> like below:
            </p>
            <pre><code class="language-nginx">server &lcub;
   listen       80;
   server_name  localhost;
   root         /path/to/webroot;
   index        index.php;
   error_page   404 /index.php;

   location / &lcub;
      try_files  $uri $uri/ /index.php?$query_string;
   &#125;

   location ~ \.php$ &lcub;
      fastcgi_pass   127.0.0.1:9000;
      fastcgi_index  index.php;
      fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include        fastcgi_params;
   &#125;
&#125;</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/setup/installation">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/console/start">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>