<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Accessor Properties</h1>
            <hr>
            <p>
               Accessor properties are methods that look like regular data properties from the outside but are invoked as methods internally when accessed as properties. This allows us to define custom logic for reading and writing the values of an object's properties, with more control over the property's behavior, such as how to validate or modify the input or output, unlike the data properties, which directly store a fixed value.
            </p>
            <p>
               To enable the accessor property feature, you need to include the trait <code>DevNet\System\PropertyTrait</code> in your class.
            </p>
            <h3>Getter Accessor</h3>
            <p>
               The getter accessor is a function bound to a computed property and returns a value when that property is looked up.
            </p>
            <p>
               Here is an example that shows how to define a getter accessor property, which is a method that has a property name prefixed with <code>get_</code> accessor and return a value.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Models;

use DevNet\System\PropertyTrait;

class Person
&lcub;
   use PropertyTrait;

   public string $FirstName;
   public string $LastName;
   
   // Computed property with getter accessor.
   public function get_FullName(): string
   &lcub;
      return $this->FirstName . ' ' . $this->LastName;
   }
}
</code></pre>
            <p>
               And here how you can access the computed property:
            </p>
            <pre><code class="language-php">&lt;?php

use Application\Models\Person;

$person = new Person();

$person->FirstName = "John";
$person->LastName = "Doe";

// Accessing the computed property.
print($person->FullName); // Output: John Doe
</code></pre>
            <br>
            <h3>Setter Accessor</h3>
            <p>
               The setter accessor is a function bound to a computed property and will be called when there is an attempt to set that property.
            </p>
            <p>
               The following example shows how to define a setter accessor property as a method prefixed with <code>set_</code> accessor and take a value parameter to set object.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Models;

use DevNet\System\PropertyTrait;

class Person
&lcub;
   use PropertyTrait;

   public string $FirstName;
   public string $LastName;
   
   // Computed property with setter accessor.
   public function set_FullName(string $value): void
   &lcub;
      $segments = explode(' ', $value, 2);
      $this->FirstName = $segments[0] ?? '';
      $this->LastName = $segments[1] ?? '';
   }
}
</code></pre>
            <p>
               And here how to set the computed property:
            </p>
            <pre><code class="language-php">&lt;?php
               
use Application\Models\Person;

$person = new Person();

// Setting the computed property.
$person->FullName = "John Doe";

print($person->FirstName); // Output: John
print($person->LastName); // Output: Doe
</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/core/overview">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/core/extension">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>