<div class="container pt-3">
  <div class="row">
    <div id="sidebar" style="width: 260px;">
      <app-sidebar></app-sidebar>
    </div>
    <div id="content" class="flex-grow-1" style="width: 400px;">
      <article>
        <h1>Controller</h1>
        <hr>
        <p>
          A controller is one of the important components of the architectural pattern MVC (Model View Controller) which helps to achieve the separation of concerns, it is the brain of the application that controls how the data is displayed, where each browser request is mapped to a particular method of a particular controller class called Action, and this action will handle the HTTP request and return data as HTTP response via the view engine.
        </p>
        <img src="assets/images/mvc.svg" alt="Web app home page" width="80%" height="auto">
        <br><br>
        <h3>Registring MVC Service</h3>
        <p>
          Before using the controller component, we need first to register the MVC service inside the method <code>WebHostBuilder::configureServices()</code> by calling the extension method <code>ServiceCollectionExtensions::addMvc()</code> which is attached to the instance of type IServiceCollection, as shown in the following code example.
        </p>
        <pre><code class="language-php">&lt;?php
    
namespace Application;

use DevNet\Web\Extensions\ApplicationBuilderExtensions;
use DevNet\Web\Extensions\ServiceCollectionExtensions;
use DevNet\Web\Hosting\WebHost;

public static function main(array $args = [])
&lcub;
    $builder = WebHost::createDefaultBuilder($args);
    $builder->configureServices(function ($services) &lcub;
        // adding mvc service
        $services->addMvc();
    });
    $host = $builder->build();
    $host->start(function ($app) &lcub;
        $app->UseExceptionHandler();
        $app->useRouter();
        $app->useEndpoint(function ($routes) &lcub;
            // mapping routes to controllers
            $routes->mapRoute("&lcub;controller=home}/&lcub;action=index}/&lcub;id?}");
        });
    });
}</code></pre>
        <br>
        <h3>Adding Controller Class</h3>
        <p>
          Controller class can be created manually inside "Controllers" folder or by using DevNet command-line:
        </p>
        <pre><code class="language-shell">devnet add controller --name HelloController</code></pre>
        <p>
          The class below represent an example of Controller class named HelloController extends a base Controller class to inherit some MVC features, and has one action method called index and return an instatence of IActionResult, with a content of <samp>"Hello World!"</samp> as a response.<br>
        </p>
        <pre><code class="language-php">&lt;?php
  
namespace Application\Controllers;

use DevNet\Web\Controller\AbstractController;
use DevNet\Web\Controller\IActionResult;

class HelloController extends AbstractController
&lcub;
    public function index(): IActionResult
    &lcub;
      return $this->content("Hello World!");
    }
}</code></pre>
        <br>
        <h3>Action Result</h3>
        <p>
          The action result represents the result of the action method, which returns a HTTP response.
        </p>
        <p>
          The following table shows a list of controller methods that return an action result for different kinds of responses:
        </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Method</th>
              <th scope="col">Discription</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>content(string $content, int $status): IActionResult</code></td>
              <td>return a plain text</td>
            </tr>
            <tr>
              <td><code>json(array $data, int $status): IActionResult</code></td>
              <td>return JSON data</td>
            </tr>
            <tr>
              <td><code>view(string $viewPath, ?object $model): IActionResult</code></td>
              <td>return HTML content</td>
            </tr>
            <tr>
              <td><code>redirect(string $urlPath): IActionResult</code></td>
              <td>redirect the request to the geving path</td>
            </tr>
            <tr>
              <td><code>forbid(): IActionResult</code></td>
              <td>forbid access to a particular route</td>
            </tr>
          </tbody>
        </table>
        <br>
        <h3>Action Method Parameters</h3>
        <p>
          Every action methods can have parameters as input data and can be primitive data type or complex type parameters, and
          by default, the parameters values are retrieved from the request's data collection, such as query string values, name/values pairs for form data or cookie values, Model binding automatically maps the request's data to the action method parameters if both names match.
        </p>
        <pre><code class="language-php">&lt;?php
  
namespace Application\Controllers;

use DevNet\Web\Controller\AbstractController;
use DevNet\Web\Controller\IActionResult;

class StudentController extends AbstractController
&lcub;
    public function show(int $id): IActionResult
    &lcub;
      return $this->content("The student Id You have requested is: &lcub;$id}");
    }
}</code></pre>
        <footer>
          <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
              <li class="nav-page-item">
                <a class="nav-page-link" routerLink="/docs/web/routing">
                  <i class="chevron left"></i> Previous
                </a>
              </li>
              <li class="nav-page-item">
                <a class="nav-page-link" routerLink="/docs/web/view">
                  Next <i class="chevron right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </footer>
      </article>
    </div>
  </div>
</div>