<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Controller</h1>
            <hr>
            <p>
               A controller is one of the important components of the architectural pattern MVC (Model View Controller) which helps to achieve the separation of concerns, it is the brain of the application that controls how the data is displayed, where each browser request is mapped to a particular method of a particular controller class called Action, and this action will handle the HTTP request and return data as HTTP response via the view engine.
            </p>
            <img src="assets/images/mvc.svg" alt="Web app home page" width="80%" height="auto">
            <br><br><br>
            <h3>Adding Controller Class</h3>
            <p>
               Controller class can be created manually or by using the devnet command-line:
            </p>
            <pre><code class="language-shell">devnet add controller --name HomeController</code></pre>
            <p>
               The class below represent an example of a controller class named <code>HomeController</code> extends a <code>Controller</code> base class to inherit some MVC features, and has one action method called <code>index()</code> that returns an instance of <code>IActionResult</code>, with a content of <samp>"Hello World!"</samp> as a response.<br>
            </p>
            <pre><code class="language-php">&lt;?php
  
namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;
use DevNet\Core\Endpoint\Route;

class HomeController extends Controller
&lcub;
   #[Route('/')]
   public function index(): IActionResult
   &lcub;
      return $this->content("Hello World!");
   &#125;
&#125;</code></pre>
            <br>
            <h3>Action Result</h3>
            <p>
               The action result represents the result of the action method, which returns a HTTP response.
            </p>
            <p>
               The following table shows a list of controller methods that return an action result for different kinds of responses:
            </p>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Method</th>
                     <th scope="col">Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><code>view(object|array $data, ?string $name): IActionResult</code></td>
                     <td>Return HTML content result</td>
                  </tr>
                  <tr>
                     <td><code>json(object|array $data): IActionResult</code></td>
                     <td>Return JSON data result</td>
                  </tr>
                  <tr>
                     <td><code>content(string $content, ?string $contentType): IActionResult</code></td>
                     <td>Return text content result</td>
                  </tr>
                  <tr>
                     <td><code>file(string $path, ?string $contentType): IActionResult</code></td>
                     <td>Return HTML content result</td>
                  </tr>
                  <tr>
                     <td><code>redirect(string $url): IActionResult</code></td>
                     <td>Redirect the request to the giving path</td>
                  </tr>
                  <tr>
                     <td><code>statusCode(int $code): IActionResult</code></td>
                     <td>Return HTTP status code result</td>
                  </tr>
               </tbody>
            </table>
            <br>
            <h3>Async Action</h3>
            <p>
               DevNet Controller can use async method to handle the HTTP request asynchronously.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\System\Async\Task;
use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;
use DevNet\Core\Endpoint\Route;

use function DevNet\System\await;

class HomeController extends Controller
&lcub;
   #[Route('/')]
   public function async_index(): IActionResult
   &lcub;
      $task = Task::run(function () &lcub;
         return "Hello World!";
      &#125;);

      $content = await($task);

      return $this->content($content);
   &#125;
&#125;</code></pre>
            <br>
            <h3>Model binding</h3>
            <p>
               Model Bidding is a mechanism that retrieves data from the HTTP request and provides it to the controller action method parameters as simple data types or updates the data into the properties of a complex type parameter.
            </p>
            <p>
               It automates the process of retrieving data from various sources, such as:
            </p>
            <ul>
               <li>Route data.</li>
               <li>Query strings.</li>
               <li>Form fields.</li>
               <li>Uploaded files.</li>
            </ul>
            <h4>Simple type binding</h4>
            <p>
               Simple model bidding is a technique that automatically assigns values to the controller action method parameters that have the same names as the request data and are of simple types such as string, int, or bool, etc.
            </p>
            <p>
               The following example shows how the Model Binder maps the route data and query string to the controller action method parameters of simple types.
            </p>
            <pre><code class="language-php">&lt;?php
  
namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;
use DevNet\Core\Endpoint\Route;

class BlogController extends Controller
&lcub;
   #[Route(path: '/posts/&lcub;id&#125;', method: 'GET')]
   public function getPost(int $id, ?bool $excerpt): IActionResult
   &lcub;
      if ($excerpt) &lcub;
         return $this->content("Excerpt from the content of the post: &lcub;$id&#125;");
      &#125;

      return $this->content("The full content of the post: &lcub;$id&#125;");
   &#125;
&#125;</code></pre>
            <p>
               Assuming the user requests the following URL: <samp>"/posts/1/?excerpt=true"</samp><br>
               The model binder will retrieve the value <code>1</code> from the route data and provide it to the <code>$id</code> parameter and the value <code>true</code> from the query string to the <code>$excerpt</code> parameter.
            </p>
            <br>
            <h4>Complex type binding</h4>
            <p>
               The complex-type binding is an automatic way of mapping the request data to the public properties of an object that is passed as a parameter to a controller action method. This provides easy access to the data of the HTTP request without having to parse it manually.
            </p>
            <p>
               The code example below shows a controller with a <code>send()</code> action method that accepts a complex type parameter of type <code>Contact</code>, where the Model Binder automatically populates the request form data into the public properties of the Contact object, which is used to validate the data before sending it via email when the user submits the contact form.
            </p>
            <pre><code class="language-php">&lt;?php
  
namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;
use DevNet\Core\Endpoint\Route;
use Application\Models\Contact;

class HomeController extends Controller
&lcub;
   #[Route(path: '/contact/send', method: 'POST')]
   public function send(Contact $form): IActionResult
   &lcub;
      if (!$form->isValid()) &lcub;
         return $this->content("All required fields must be filled out!");
      &#125;

      mail("email&#64;example.com", $form->Subject, $form->Message);
      return $this->statusCode(200);
   &#125;
&#125;</code></pre>
<p>
   And here is the code for the <code>Contact</code> model that is used as a parameter in the controller action method.
</p>
            <pre><code class="language-php">&lt;?php
  
namespace Application\Models;

class Contact
&lcub;
   public string $Subject;
   public string $Message;

   public function isValid(): bool
   &lcub;
      if (isset($this->Subject) && isset($this->Message)) &lcub;
         return true
      &#125;

      return false;
   &#125;
&#125;</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/routing">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/view">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>