<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Routing</h1>
            <hr>
            <p>
               The router is a component responsible for matching incoming HTTP requests and dispatching those requests to the app's executable endpoints, which are executable actions responsible for request-handling, defined and configured in the application builder, and selected and executed when request URL matches a defined URL Pattern called Route Template.
            </p>
            <p>
               The endpoint matching process can also filter HTTP requests by allowing restraint HTTP Verbs and can extract values from the request's URL and provide those values for request processing.<br> Routing is also able to generate URLs that map to endpoints.
            </p>
            <h3>Routing basics</h3>
            <p>
               Router is registered in the middleware pipeline in the <code>start()</code> method of <code>WebHost</code> class.<br> by using a pair of middleware, defined by <code>useRouter()</code> and <code>useEndpoint(RouteCollection $routes)</code> methods:
            </p>
            <ul>
               <li>
                  <b>UseRouter</b> adds route matching middleware to the middleware pipeline, and this middleware looks at the set of endpoints defined in the App and selects the best match based on the request.
               </li>
               <li>
                  <b>UseEndpoint</b> adds endpoint execution middleware to the middleware pipeline, which runs the request delegate associated with the selected endpoint.
               </li>
            </ul>
            <p>
               The following code below shows a basic routing example, write <code>"Hello World!"</code> to the HTTP response when an HTTP GET request is sent to the root URL <code>"/"</code>, which is By default is <code>https://localhost:8000/</code><br> else If the request doesn't match any route, an HTTP 404 page not found is returned.
            </p>
            <pre><code class="language-php">&lt;?php

use DevNet\Web\Extensions\ApplicationBuilderExtensions;
use DevNet\Web\Extensions\ServiceCollectionExtensions;
use DevNet\Web\Hosting\WebHost;
...

$host->start(function ($app) &lcub;
   $app->UseExceptionHandler();
   $app->useRouter();
   // Additional middlewares here
   $app->useEndpoint(function ($routes) &lcub;
      // Routes
      $routes->mapGet("/", fn () => "Hello World!");
   });
});</code></pre>
            <p>
               The following table shows the available routing methods and their descriptions.
            </p>
            <table class="table">
               <thead>
                  <tr>
                     <th class="col-md-6" scope="col">Methods</th>
                     <th class="col-md-4" scope="col">Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><code>mapGet(string $pattern string|callable|array $handler)</code></td>
                     <td>Route that matches HTTP GET request for the specified path.</td>
                  </tr>
                  <tr>
                     <td><code>mapPost(string $pattern, string|callable|array $handler)</code></td>
                     <td>Route that matches HTTP POST request for the specified path.</td>
                  </tr>
                  <tr>
                     <td><code>mapPut(string $pattern, string|callable|array $handler)</code></td>
                     <td>Route that matches HTTP PUT request for the specified path.</td>
                  </tr>
                  <tr>
                     <td><code>mapDelete(string $pattern, string|callable|array $handler)</code></td>
                     <td>Route that matches HTTP DELETE request for the specified path.</td>
                  </tr>
                  <tr>
                     <td><code>mapPatch(string $pattern, string|callable|array $handler)</code></td>
                     <td>Route that matches HTTP PATCH request for the specified path.</td>
                  </tr>
                  <tr>
                     <td><code>mapRoute(string $pattern, string|callable|array $handler, ?string $verb = null)</code></td>
                     <td>Route that matches HTTP request for the specified path and HTTP method, or any HTTP method if it's not specified.</td>
                  </tr>
               </tbody>
            </table>
            <br>
            <h3>Async Handler</h3>
            <p>
               DevNet route can accept the Request Handler as an async function to handle the HTTP request asynchronously, like in the following example:
            </p>
            <pre><code class="language-php">&lt;?php

use DevNet\Web\Http\Client\HttpClient;
use DevNet\Web\Http\HttpContext;

use function Devnet\System\async;
use function Devnet\System\await;
...

$app->useEndpoint(function($routes) &lcub;
   $routes->mapGet("/", async(function(HttpContext $context) &lcub;
      $client  = new HttpClient();
      $content = await($client->getStringAsync('www.example.com'));
      await($context->Response->writeAsync($content));
   }));
});</code></pre>
            <br>
            <h3>Route Template</h3>
            <p>
               A route template is a string pattern composed of segments, separated by a slash <code>"/"</code> used to define how the endpoint matches the URL Path, by splitting the URL path into segments and matching each segment with the route pattern segment in the same corresponding order.
            </p>
            <p>
               The segment pattern can be literal or parameter enclosed in curly brackets <code>"&lcub; }"</code> to hold a potential value of its corresponding matched URL segment, and this parameter can be mandatory or optionally by adding interrogation point <code>"?"</code> or it can have a default value using the equal sign <code>"="</code> after the route parameter name followed by a value.
            </p>
            <p>
               The following code example shows a simple get route with a callback request handler, that retrieves the value of the parameter <code>&lcub;id}</code> from <code>HttpContext</code> to look for a product in the repository and then returns the data as a JSON response.
            </p>
            <pre><code class="language-php">...
$app->useEndpoint(function($routes) &lcub;
   $routes->mapGet("/api/products/&lcub;id?}", function(HttpContext $context) &lcub;
      $id = $context->Request->RouteValues["id"];
      $product = ProductRepository::find($id);
      return $context->Response->writeJsonAsync($product);
   });
});</code></pre>
            <p>
               The following table demonstrates a list of route templates examples:
            </p>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col" class="col-3">Route template</th>
                     <th scope="col" class="col-3">Matching URL example</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>/contact</td>
                     <td>/contact</td>
                  </tr>
                  <tr>
                     <td>/&lcub;language}/shop</td>
                     <td>/en/shop</td>
                  </tr>
                  <tr>
                     <td>/posts/&lcub;title?}</td>
                     <td>/posts or /posts/my-post</td>
                  </tr>
                  <tr>
                     <td>/&lcub;page=home}</td>
                     <td>/ or /about</td>
                  </tr>
               </tbody>
            </table>
            <blockquote class="alert alert-warning">
               <b>Important:</b> The order of the routes is important, if a route matches the request URL, it will not check the next route, so make sure to not put a route with a greedy pattern at the top, because it will catch all the URLs.
            </blockquote>
            <br>
            <h3>Attribute Routing</h3>
            <p>
               Attribute routing is a technique that allows routes to be defined directly on the controller actions by using attributes that specify the URL patterns and HTTP methods that match the HTTP requests, giving more control and flexibility over the routing behavior.
            </p>
            <p>
               The following code example shows how to map routes to MVC controllers.
            </p>
            <pre><code class="language-php">...
$app->useEndpoint(function($routes) &lcub;
   $routes->mapControllers();
});</code></pre>
            <p>
               Then, you can use attributes to decorate your controller's action methods with their associated routes.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\Web\Endpoint\Controller;
use DevNet\Web\Endpoint\IActionResult;
use DevNet\Web\Endpoint\Route;

class HomeController extends Controller
&lcub;
   // Accept any HTTP method.
   #[Route(path: '/')]
   public function index(int $id): IActionResult
   &lcub;
      return $this->view();
   }

   // Accept only the HTTP method GET.
   #[Route(path: '/contact', method: 'GET')]
   public function contact(): IActionResult
   &lcub;
      return $this->view();
   }

   // Accept only the HTTP method POST.
   #[Route(path: '/contact/submit', method: 'POST')]
   public function submit(string $subject, string $message): IActionResult
   &lcub;
      mail("email@example.com", $subject, $message);
      return $this->statusCode(200);
   }
}</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/middleware">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/controller">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>