<div class="position-sticky top-0 overflow-auto bg-white p-2">
  <ul id="menu" class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#start-collapse" aria-expanded="false">
        Setup
      </button>
      <div class="collapse" id="start-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/setup/overview" routerLinkActive="fw-bold">Overview</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/setup/installation" routerLinkActive="fw-bold">Installation</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/setup/deployment" routerLinkActive="fw-bold">Deployment</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#console-collapse" aria-expanded="false">
        Console
      </button>
      <div class="collapse" id="console-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/console/start" routerLinkActive="fw-bold">Get Started</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/console/output" routerLinkActive="fw-bold">Output</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/console/input" routerLinkActive="fw-bold">Input</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/console/command" routerLinkActive="fw-bold">Command Line</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#fundamentals-collapse" aria-expanded="false">
        Fundamentals
      </button>
      <div class="collapse" id="fundamentals-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/overview" routerLinkActive="fw-bold">Overview</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/properties" routerLinkActive="fw-bold">Property Accessors</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/extension" routerLinkActive="fw-bold">Extension Methods</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/linq" routerLinkActive="fw-bold">Linq Data Query</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/generics" routerLinkActive="fw-bold">Generic Classes</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/asynchronous" routerLinkActive="fw-bold">Asynchronous Tasks</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/delegate" routerLinkActive="fw-bold">Event Delegate</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/core/diagnostics" routerLinkActive="fw-bold">Diagnostics</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#web-collapse" aria-expanded="false">
        Web
      </button>
      <div class="collapse" id="web-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/start" routerLinkActive="fw-bold">Get Started</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/http" routerLinkActive="fw-bold">Http Context</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/middleware" routerLinkActive="fw-bold">Middleware</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/routing" routerLinkActive="fw-bold">Routing</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/controller" routerLinkActive="fw-bold">Controller</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/view" routerLinkActive="fw-bold">View</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/layout" routerLinkActive="fw-bold">Layout</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/filter" routerLinkActive="fw-bold">Action Filter</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/dependency" routerLinkActive="fw-bold">Dependency Injection</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/web/exception" routerLinkActive="fw-bold">Exception Handler</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#entity-collapse" aria-expanded="false">
        Entity ORM
      </button>
      <div class="collapse" id="entity-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/overview" routerLinkActive="fw-bold">Overview</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/model" routerLinkActive="fw-bold">Model</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/querying" routerLinkActive="fw-bold">Querying Data</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/saving" routerLinkActive="fw-bold">Saving Data</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/relationships" routerLinkActive="fw-bold">Relationships</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/entity/migrations" routerLinkActive="fw-bold">Migrations</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#security-collapse" aria-expanded="false">
        Security
      </button>
      <div class="collapse" id="security-collapse" data-bs-parent="#menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/security/overview" routerLinkActive="fw-bold">Overview</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/security/authentication" routerLinkActive="fw-bold">Authentication</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/security/authorisation" routerLinkActive="fw-bold">Authorisation</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/security/identity" routerLinkActive="fw-bold">Identity Manager</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" routerLink="/docs/security/antiforgery" routerLinkActive="fw-bold">Antiforgery</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>