<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Views</h1>
            <hr>
            <p>
               Views are the presentation details of the user’s interaction, in form of HTML templates with minimal
               of embedded PHP code that generate content to send to the client, views are <samp>.phtml</samp> files
               stored by default in a Views folder at the root of the application, typically each controller will
               have its own folder, in which are views for specific controller actions.
            </p>
            <p>
               By convention, all the views stored in the folder called <b>"Views"</b>, grouped into sub-folders have
               the same name as the the name of the controller they belong to, and each view file has the same name
               as the name of the action that return it.
            </p>
            <p>
               The following code represent a view template with a sample HTML code, stored in
               <code>"/Views/Home/index.phtml"</code><br> assuming that the controller name is <b>"Home"</b> and the
               action name is <b>"index"</b>.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;title>&lt;?= $viewName ?>&lt;/title>
&lt;/head>
&lt;body>
   &lt;h1>Hello World!&lt;/h1>
&lt;/body>
&lt;/html></code></pre>
            <blockquote class="alert alert-warning">
               <b>Important:</b> DevNet view engine uses its own PHP short tag syntax <code><? ?></code> without causing any conflict with XML tags, and there is no need to enable it in <samp>"php.ini"</samp>
            </blockquote>
            <br>
            <h3>Returning the View</h3>
            <p>
               Typically views are returned from actions as a <code>ViewResult</code>, which is a type of
               <code>IActionResult</code>, the Action method can create and return a ViewResult directly, but that
               isn't commonly done, since controllers inherit from Controller base class, you simply use the method
               <code>view()</code> to return the ViewResult.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;

class HomeController extends Controller
&lcub;
   public function index(): IActionResult
   &lcub;
      return $this->view();
   &#125;
&#125;</code></pre>
            <br>
            <h4>Returning Explicit View</h4>
            <p>
               If your view doesn't follow the naming convention, you can return an explicit view, by passing a
               string argument to view method that define a relative path to the view file without the extension file
               <samp>".phtml"</samp>
            </p>
            <p>
               The following code shows an example of controller with action <code>index</code> that returns a
               content of an explicit view called <samp>"home.phtml"</samp>, belong to the folder
               <samp>"Template"</samp>
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;

class HomeController extends Controller
&lcub;
   public function index(): IActionResult
   &lcub;
      return $this->view(name: "Template/home");
   &#125;
&#125;</code></pre>
            <br>
            <h3>Passing data to the view</h3>
            <p>
               The view data is an MVC communication mechanism for passing data from the controller's action method to the view.
               The data is passed as a key-value array argument and can then be retrieved in the view by accessing its corresponding keys in the ViewData property or by using variables with the same names as the keys.
            </p>
            <p>
               Here is an example of a controller that passes key-value data to the view.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Controllers;

use DevNet\Core\Endpoint\Controller;
use DevNet\Core\Endpoint\IActionResult;

class HomeController extends Controller
&lcub;
   public function index($name): IActionResult
   &lcub;
      $data = [
         'site' => 'MySite',
         'page' => 'Home'
      ];
      return $this->view($data);
   &#125;
&#125;</code></pre>
            <p>
               And here is an example of a view that retrieves the passed data by accessing the keys of the ViewData property.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;title>&lt;?= $this->ViewData['site'] . '-' . $this->ViewData['page'] ?>&lt;title>
   ...
</code></pre>
            <p>
               Or, retrieve the view data as variables with the same names as the keys of the ViewData property.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;title>&lt;?= $site . '-' . $page ?>&lt;title>
   ...
</code></pre>
            <br>
            <h3>Layout</h3>
            <p>
               The layout or master page is common UI (User Interface) a template of common HTML elements that remains the same throughout the application, such as header, navigation bar, or footer section, to reduce duplicate code in views and make it easy to maintain.
            </p>
            <p>
               By default layouts placed in the folder <samp>"/views/layouts"</samp> and, an individual views can specify a layout by calling the method <code>layout(string $layoutName)</code>, the string parameter <code>$layoutName</code> define the relative path to the layout file without the extension file <samp>".phtml"</samp> as shown in the following example:
            </p>
            <pre><code class="language-php-template">&lt;? $this->layout('Shared/layout') ?>
  
&lt;h1>Hello World!&lt;/h1></code></pre>
            <p>
               Layout can include the view contents, by calling the method <code>renderBody()</code> and wherever the call to this method is placed, the contents of the view will be rendered.
            </p>
            <p>
               In this example the view engin catch the content <code>&lt;h1>Hello World!&lt;/h1></code> of the view and rendered it into the body of the layout where the method <code>renderBody()</code> is called.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;link rel="stylesheet" type="text/css" href="/css/style.css" />
   &lt;title>DevNet&lt;/title>
&lt;/head>
&lt;body>
   &lt;header>
      &lt;nav class="navbar">
         &lt;a href="/">Home&lt;/a>
         &lt;a href="/about">About&lt;/a>
         &lt;a href="/contact">Contact&lt;/a>
      &lt;/nav>
   &lt;/header>
   &lt;main>
      &lt;? $this->renderBody() ?>
   &lt;/main>
&lt;/body>
&lt;/html></code></pre>
            <br>
            <h4>Partial views</h4>
            <p>
               A partial view is a reusable portion of the layout, which means Layout can be split into many files that contains HTML code, It can be used in one or more views or layout views, You can use the same partial view at multiple places and eliminates the redundant code.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;link rel="stylesheet" type="text/css" href="/css/style.css" />
   &lt;title>DevNet&lt;/title>
&lt;/head>
&lt;body>
   &lt;header>
      &lt;? $this->renderPartial('Shared/navbar') ?>
   &lt;/header>
   &lt;main>
      &lt;? $this->renderBody() ?>
   &lt;/main>
&lt;/body>
&lt;/html></code></pre>
            <p>
               The code below is the content of the partial view in separated file: <samp>"/Views/layouts/navbar.phtml"</samp>.
            </p>
            <pre><code class="language-php-template">&lt;nav class="navbar">
   &lt;a href="/">Home&lt;/a>
   &lt;a href="/about">About&lt;/a>
   &lt;a href="/contact">Contact&lt;/a>
&lt;/nav></code></pre>
            <br>
            <h4>Sections</h4>
            <p>
               Sections provide a dynamic way to organize where certain page elements should be placed, unlike the partial view which they remains the same throughout all the application, sections can be changed for each view.
            </p>
            <p>
               To be able to use a section in a layout, we must first define a section in the view, by writing a block of content between the methods <code>section(string $sectionName)</code> and <code>endSection()</code> and give a ane to the section, which help us later to select which section to be rendered in the layout.
            </p>
            <pre><code class="language-php-template">&lt;? $this->layout('Shared/layout') ?>
  
&lt;h1>Hello World!&lt;/h1> 

&lt;? $this->section('sidebar') ?>
   &lt;ul class="menu">
   &lt;li>&lt;Item1&lt;/li>
   &lt;li>&lt;Item2&lt;/li>
   &lt;/ul>
&lt;? $this->endSection() ?></code></pre>
            <p>
               A layout can include one or more view sections, by calling the method <code>RenderSection(string $sectionName)</code> with specifying the name of the section be rendered, and where the call of this method is placed, the view section contents will be rendered.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;link rel="stylesheet" type="text/css" href="/css/style.css" />
   &lt;title>DevNet&lt;/title>
&lt;/head>
&lt;body>
   &lt;header>
      &lt;? $this->renderPartial('Shared/navbar') ?>
   &lt;/header>
   &lt;main>
      &lt;aside>
         &lt;? $this->renderSection('sidebar') ?>
      &lt;/aside>
      &lt;article>
         &lt;? $this->renderBody() ?>
      &lt;/article>
   &lt;/main>
&lt;/body>
&lt;/html></code></pre>
            <br>
            <h3>The control structures</h3>
            <p>
               DevNet view engine uses the PHP alternative syntax for control structures, such as <code>if</code>, <code>while</code>, <code>for</code>, <code>foreach</code>, and <code>switch</code>, which use the colon (<code>:</code>) instead of opening brace and the <code>endif;</code>, <code>endwhile;</code>, <code>endfor;</code>, <code>endforeach;</code>, or <code>endswitch;</code>, respectively, instead of the closing brace.
            </p>
            <p>
               The following example uses the alternative syntax of the <code>if</code> statement to display different navbars based on the user's authentication status, where the user identity is injected into the view by default when using the MVC controller.
            </p>
            <pre><code class="language-php-template">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
   &lt;meta charset="UTF-8">
   &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
   &lt;link rel="stylesheet" type="text/css" href="/css/style.css" />
   &lt;title>DevNet&lt;/title>
&lt;/head>
&lt;body>
   &lt;header>
      &lt;? if ($this->User->isAuthenticated()): ?>
         &lt;? $this->renderPartial('Shared/authenticatedUserNavbar') ?>
      &lt;? else: ?>
         &lt;? $this->renderPartial('Shared/anonymousUserNavbar') ?>
      &lt;? endif; ?>
   &lt;/header>
   &lt;main>
      &lt;? $this->renderBody() ?>
   &lt;/main>
&lt;/body>
&lt;/html></code></pre>
<blockquote class="alert alert-info">
   <b>Note:</b> For more information about the PHP alternative syntax, you can visit the PHP documentation website <a target="_blank" href="https://www.php.net/manual/en/control-structures.alternative-syntax.php">here</a>
</blockquote>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/controller">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/web/filter">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>