<div class="d-flex flex-column justify-content-center text-center py-5 my-5">
   <h1 class="display-3 mx-auto">DevNet Framework</h1>
   <p class="lead w-75 mx-auto">
      A free open-source software, and cross-platform, inspired by ASP.NET Core, built in PHP for rapid
      application development, APIs, console and modern web application with high performance.
   </p>
   <div class="d-grid gap-2 d-md-flex justify-content-center">
      <a class="btn btn-danger px-4 me-md-2" routerLink="/docs">Documentation</a>
      <a class="btn btn-outline-secondary px-4" href="https://github.com/DevNet-Framework">View on
         GitHub</a>
   </div>
</div>