<div class="container pt-3">
   <div class="row">
      <div id="sidebar" style="width: 260px;">
         <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="flex-grow-1" style="width: 400px;">
         <article>
            <h1>Generic Types</h1>
            <hr>
            <p>
               A generic type or parameterized type is a class with type parameters used in class operations without being specific to a particular data type, then defers the specification of these type parameters until the instantiation of the generic type to allow the code re-use.
            </p>
            <h3>Generic type parameter</h3>
            <p>
               The generic type parameter is a placeholder for a type that will be specified when an instance of the generic type is created.
               e.g. <code>TypeName&lt;T></code> where <code>T</code> is a generic type parameter.
            </p>
            <p>
               This feature can be added to your class by using the trait <code>DevNet\System\TypeTrait</code>. You can then define the generic type parameters using the attribute <code>DevNet\System\Template</code> on the generic class to specify the type parameters, and pass the generic type arguments via the constructor injection using the method <code>setGenericArguments()</code>
            </p>
            <p>
               The type parameter can be used as the type of a method parameter using the attribute <code>DevNet\System\Type</code>, where the concrete type would ordinarily be used, and the method <code>checkArgumentTypes()</code> is the first to be called inside the method needed for the type checking.
            </p>
            <p>
               Here is an example explaining how to create a generic class using this feature:
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Collections;

use DevNet\System\Collections\Enumerator;
use DevNet\System\Collections\IEnumerable;
use DevNet\System\Template;
use DevNet\System\TypeTrait;

// Defines the type parameter T as a type of the items in the collection.
#[Template('T')]
class Collection implements IEnumerable
&lcub;
   use TypeTrait;

   private array $items = [];

   public function __construct(string $typeName)
   &lcub;
      // Setting the generic type argument.
      $this->setGenericArguments($typeName);
   &#125;

   private function add(#[Type('T')] $item): void
   &lcub;
      // Checking the the type of the arguments before using them.
      $this->checkArgumentTypes(func_get_args());
      $this->items[] = $item;
   &#125;

   public function getIterator(): Enumerator
   &lcub;
      return new Enumerator($this->items);
   &#125;
&#125;
</code></pre>
            <br>
            <h3>Generic type argument</h3>
            <p>
               The generic type argument is a type that is passed to the generic type parameter when an instance of the generic type is created.
               e.g. <code>TypeName&lt;string></code> where <code>string</code> is a generic type argument.
            </p>
            <p>
               The following example uses the generic <code>Collection</code> class created in the previous example to show how to specify the actual type argument at the time of instantiation to make it work only with that specified type.
            </p>
            <pre><code class="language-php">&lt;?php

// Assuming we have Employee class
$employee = new Employee();
$employee->Id = 1;
$employee->Name = 'Alice';

// Create an instance of type Collection&lt;Employee>
$employees = new Collection(Employee::class);

// Now this method accepts only arguments of type Employee, other wise will throw a TypeException.
$employees->add($employee);
</code></pre>
            <br>
            <h3>Checking generic type</h3>
            <p>
               You can use the method <code>checkArgumentTypes()</code> to check the type of any method parameter, including the parameterized type defined in the <code>DevNet\System\Type</code> attribute.
            </p>
            <p>
               The example below represents a class <code>EmployeeProvider</code> that accepts only the injection of <code>Collection&lt;Employee></code> through the constructor.
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Providers;

use DevNet\System\TypeTrait;

class EmployeeProvider
&lcub;
   use TypeTrait;

   private Collection $employees;

   // Accepting only the injection of an argument of type Collection&lt;Employee>
   public function __construct(#[Type(Collection::class, [Employee::class])] $employees)
   &lcub;
      $this->checkArgumentTypes(func_get_args());
      $this->employees = $employees;
   &#125;

   public function get(int $id): ?Employee
   &lcub;
      foreach ($this->employees as $employee) &lcub;
         if ($employee->Id == $id) &lcub;
            return $employee;
         &#125;
      &#125;
      return null;
   &#125;
&#125;
</code></pre>
            <br>
            <h3>Multiple type parameters</h3>
            <p>
               As mentioned earlier, the generic class can have multiple type parameters, like a pair of key-value type parameters, which are demonstrated in the following example:
            </p>
            <pre><code class="language-php">&lt;?php

namespace Application\Collections;

use DevNet\System\Template;
use DevNet\System\TypeTrait;

#[Template('K', 'K')]
class Collection
&lcub;
   use TypeTrait;

   private array $items = [];

   public function __construct(string $keyTypeName, string $valueTypeName)
   &lcub;
      $this->setGenericArguments($keyTypeName, $valueTypeName);
   &#125;

   private function add(#[Type('K')] $key, #[Type('V')] $value): void
   &lcub;
      $this->checkArgumentTypes(func_get_args());
      $this->items[$key()] = $value();
   &#125;
   ...
&#125;
</code></pre>
            <br>
            <h3>Built-in generic collections</h3>
            <p>
               For rapid development, the DevNet Core library provides two types of generic collections:
            </p>
            <ul>
               <li><code>ArrayList&lt;T></code> an indexed generic collection, where the parameter <code>T</code> is the type of the items in the collection.</li>
               <li><code>Dictionary&lt;K, V></code> a key-value pairs generic collection, where the parameter <code>K</code> is the type of the keys, and the parameter <code>V</code> is the type of the values in the collection.</li>
            </ul>
            <h5>ArrayList Example:</h5>
            <pre><code class="language-php">&lt;?php

use \DevNet\System\Collections\ArrayList;

// Creating an array of type ArrayList&lt;string>.
$array = new ArrayList('string');
$array[] = 'Bob';

// This will throw a TypeException because the key must be of type integer.
$array['1'] = 'Alice';

// This will throw a TypeException because the value must be of type string.
$array[1] = 50;
</code></pre>
            <br>
            <h5>Dictionary Example:</h5>
            <pre><code class="language-php">&lt;?php

use \DevNet\System\Collections\Dictionary;

// Creating an array of type Dictionary&lt;string, float>.
$array = new Dictionary('string', 'float');
$array['width'] = 90.5;

// This will throw a TypeException because the value must be of type float.
$array['height'] = '50';

// This will throw a TypeException because the key must be of type string.
$array[1] = 50;
</code></pre>
         </article>
         <nav class="no-print" aria-label="Page navigation">
            <ul class="nav-page">
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/system/overview">
                     <i class="chevron left"></i> Previous
                  </a>
               </li>
               <li class="nav-page-item">
                  <a class="nav-page-link" routerLink="/docs/system/asynchronous">
                     Next <i class="chevron right"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>